.Account-Details-Form {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -150px;
    margin-top: 150px;
}

.account-details-form-image {
    width: 1400px;
}

.account-details-form-title {
    position: absolute;
    top: 5%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    background-color: lightgreen;
    width: 1275px;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}

.account-details-form-subtitle {
    margin-top: -425px;
    font-size: 25px;
    font-weight: 400;
}

.account-details-form-label {
    color: black;
    font-weight: 600;
    display: inline-block;
}

.alert-msg {
    margin-left: -75px;
}

.alert-danger p {
    margin-left: 175px;
}

.alert-success  {
    margin-left: 175px;
}

.account-details-form-dashboard-links {
    margin-left: 1050px;
    margin-top: -700px;
    font-size: 15px; 
}

.account-details-form-btn {
    margin-top: 10px;
    background-color: black;
    padding: 10px;
    color: white;
}

/* adds border above and below "Dashboard" link */
.account-details-form-link-acct {
    border-top: solid 1px rgba(0, 0, 0, .2); 
    border-bottom: solid 1px rgba(0, 0, 0, .2);
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 225px;
    text-decoration: none;
    color: black;
  }
  
  .account-details-form-link-acct::before {
    content: "\2192";
    padding-right: 15px;
    color: rgba(0, 0, 0, .3)
  }
  
  /* adds line under the link that's active */
  .account-details-form-link-acct.active {
    color:  black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    padding-bottom: 4px;
  }  
   
  /* adds line under the link that's hovered over */
  .account-details-form-link-acct:hover {
    color:  black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
  } 
  
  .account-details-form-link-orders{
    border-bottom: solid 1px rgba(0, 0, 0, .2); 
    padding-right: 250px ;
    padding-bottom: 10px;
    font-weight: 400;
    text-decoration: none;
    color: black;
  }
  
  .account-details-form-link-orders::before {
    content: "\2192";
    padding-right: 15px;
    color: rgba(0, 0, 0, .3)
  }
  
  /* adds line under the link that's active */
  .account-details-form-link-orders.active {
    color:  black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    padding-bottom: 4px;
  }  
   
  /* adds line under the link that's hovered over */
  .account-details-form-link-orders:hover {
    color:  black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
  } 
  
  .account-details-form-link-addresses {
    border-bottom: solid 1px rgba(0, 0, 0, .2); 
    padding-right: 225px;
    padding-bottom: 10px; 
    text-decoration: none;
    color: black;
  }
  
  .account-details-form-link-addresses::before {
    content: "\2192";
    padding-right: 15px;
    color: rgba(0, 0, 0, .3)
  }
  
  /* adds line under the link that's active */
  .account-details-form-link-addresses.active {
    color:  black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    padding-bottom: 4px;
  }  
   
  /* adds line under the link that's hovered over */
  .account-details-form-link-addresses:hover {
    color:  black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
  } 
  
  .account-details-form-link-payments {
    border-bottom: solid 1px rgba(0, 0, 0, .2); 
    padding-right: 175px;
    padding-bottom: 10px; 
    text-decoration: none;
    color: black;
  }
  
  .account-details-form-link-payments::before {
    content: "\2192";
    padding-right: 15px;
    color: rgba(0, 0, 0, .3)
  }
  
  /* adds line under the link that's active */
  .account-details-form-link-payments.active {
    color:  black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    padding-bottom: 4px;
  }  
   
  /* adds line under the link that's hovered over */
  .account-details-form-link-payments:hover {
    color:  black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
  } 
  
  .account-details-form-link-details {
    border-bottom: solid 1px rgba(0, 0, 0, .2); 
    padding-right: 190px;
    padding-bottom: 10px; 
    text-decoration: none;
    color: black;
  }
  
  .account-details-form-link-details::before {
    content: "\2192";
    padding-right: 15px;
    color: rgba(0, 0, 0, .3)
  }
  
  /* adds line under the link that's active */
  .account-details-form-link-details.active {
    color:  black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    padding-bottom: 4px;
  }  
   
  /* adds line under the link that's hovered over */
  .account-details-form-link-details:hover {
    color:  black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
  } 
  
  .account-details-form-link-logout{
    border-bottom: solid 1px rgba(0, 0, 0, .2); 
    padding-right: 246px ;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
  }
  
  .account-details-form-link-logout::before {
    content: "\2192";
    padding-right: 15px;
    color: rgba(0, 0, 0, .3)
  }
  
  /* adds line under the link that's active */
  .account-details-form-link-logout.active {
    color:  black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    padding-bottom: 4px;
  }  
   
  /* adds line under the link that's hovered over */
  .account-details-form-link-logout:hover {
    color:  black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
  } 
  
  li {
    list-style: none;
  }
  

