.myAccount-addresses-container {
    margin-top: 40px; 
    width: 1400px;      
  }
  
.myAccount-addresses-container .myAccount-addresses-image { 
    object-fit: contain;
    width: 1200px;
    margin-left: 70px;
}

.myAccount-addresses-welcome-msg {
  font-size: 17px;
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  margin-left: 70px;
  margin-top: 100px;
  color: rgba(3, 3, 3, .6)
}

.myAccount-addresses-billing-title {
  margin-left: -1500px;
  color: #333;
  font-weight: 300;
}

.myAccount-addresses-shipping {
    margin-left: -200px;
    margin-top: -115px;
    color: #333;
    font-weight: 300; 
}

.myAccount-addresses-link-billing {
  margin-left: 75px;
  color: #333;
  font-weight: 300;
}

.myAccount-addresses-link-shipping {
    margin-left: 510px;
    color: #333;
    font-weight: 300; 
}

.myAccount-addresses-name {
  margin-left: 75px;
  margin-top: 2px;
  color: #333;
  font-weight: 300;
  font-style: italic;
}

.msg {
    margin-left: 510px;
    margin-top: 2px;
    color: #333;
    font-weight: 300;
    font-style: italic;  
}

