.Carts-message2 {
    margin-left: 600px;
    color: black;
    font-size: 25px;
    font-weight: 700;
}

.Carts-browse-link {
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 15px;
    margin-left: 650px;
    text-decoration: none;
    width: 100px; 
    margin-top: -10px; 
    margin-bottom: 10px; 
}