.CartCard-container {
    position: relative;
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -200px;
}
  
#card {
    position: absolute;
    width: 500px;
    height: 600px; 
    background-color: lightcyan;
    top: 110%;
    left: 51%;
    transform: translate(-50%, -50%);
    margin-top: -150px;
    padding-top: 10px; 
    padding-bottom: 50px;
    text-decoration: none;
    color: black;
    opacity: 0.75;
    border: 3px solid lightgrey;
    border-style: groove;
}

.CartCard-title {
    margin-left: 200px;
}

.CartCard-image {
    width: 1350px;
    height: 800px;
    margin-top: -110px;
}

#CartCard-table {
    font-family: Arial, Helvetica, sans-serif;
    /* border-collapse: collapse; */
    width: 300px;
    margin-top: 20px;
    margin-left: 10px;
    border: 2px solid #ddd;
    border-style: groove;
}
    
#CartCard-table td, #CartCard-table th {
    border: 1px solid #ddd;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: nowrap;
} 
  
#CartCard-table .CartCard-product:nth-child(even){
    background-color: #f2f2f2;
}
    
#CartCard-table .CartCard-table-tr:hover {background-color: #ddd;}

/* styles the message that appears when no orders have been made yet */
.Carts-message2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-left: 525px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  /* styles the Continue Shopping link  */
.CartCard-shopping-link {
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 560px;
    top: -5%;
    left: 10%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    width: 200px;
    padding: 10px;
    color: lightgreen;
    background-color: black;
  }

.CartCard-checkout-link {
    margin-left: 560px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.addToCart-msg {
    background-color: black;
    padding: 20px;
    color: lightgreen;
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 500px;
    text-align: center;
}

  
  
  