/* adds spacing inbetween input fields */
.Form form div {
    padding: 15px;
    vertical-align: middle;
}

.signin-btn {
    margin-left: -250px;
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white; 
}

.signin-header {
    color: black;
    margin-left: -700px;
    margin-bottom: 15px;
    margin-top: 100px;
    font-size: 35px;
    font-weight: lighter;
}

#form-input-email {
    margin-left: -270px;
    margin-top: -5px;
}

#form-input-password {
    margin-left: -270px;
    margin-top: 25px;
}

.label-email { 
    color: black;
    margin-left: -350px;
    margin-top: 10px;
    margin-bottom: -25px;
    width: 70px;
}

.label-password {
    color: black;
    margin-left: -350px;
    margin-top: -20px;
    margin-bottom: -50px;
    width: 70px;
}


/* div wrapped around signin form - displaying form on the right of the page*/
.signin {
    float: right;
    width: 50%;
    /* margin-right: 20px; */
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: max-content;
  }

